svg.collection-placeholder-svg {
    display: block;
    width: 100%;
    object-fit: contain;
}

.instagram-link {
    display: block;
    height: 100%;
    width: 100%;
}

.instagram-item {
    position: relative;
    overflow: hidden;
    margin: 0 6px;
}

.instagram-wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 100px;
    padding-right: 100px;
}
.instagram-image {
    margin: 0;
    min-width: 0;
    border: 0;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}


.instagram-image:before {
    content: "";
    padding-bottom: 100%;
    width: 0;
}

.instagram-item-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 0px;
    max-width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    outline: none;
    object-fit: cover;
    border: 0px;
    padding: 0px;
    margin: 0px;
    inset: 0px;
    transition: 500ms;
}


/* .instagram-link:before {
    background: #00000029;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

span.instagram-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
}

span.instagram-icon path {
    fill: #fff;
}

span.instagram-icon svg {
    width: 40px;
    height: 40px;
}
.instagram-link:hover {
    opacity: .6;
}

.instagram-link:hover  span.instagram-icon{
    opacity:1;
    visibility:visible;
}
.instagram .section-top {
    border: none;
    margin-bottom: 16px;
}
.instagram-placeholder-svg {
    height: 100%;
    width: 100%;
    display: block;
}

.instagram-wrap.instagram_slider {
    display: block;
}

@media only screen and (max-width:767px) {
    .instagram-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
    span.instagram-icon svg {
        width: 20px;
        height: 20px;
    }
    .instagram-icon {
        bottom: 10px;
        left: 10px;
        line-height: 1;
    }
}